<a href="https://colab.research.google.com/github/MariaHrmiz/ErsterVersuch/blob/main/ErsterVersuch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
from google.colab import drive
import pandas as pd
import requests
from io import StringIO

In [ ]:
url = 'https://info.gesundheitsministerium.gv.at/data/timeline-faelle-bundeslaender.csv'
df = pd.read_csv(url, sep=';')

In [ ]:
df.head()

,Datum,BundeslandID,Name,BestaetigteFaelleBundeslaender,Todesfaelle,Genesen,Hospitalisierung,Intensivstation,Testungen,TestungenPCR,TestungenAntigen
0,2021-03-01T09:30:00+01:00,1,Burgenland,12657,239,11701,43,10,638575,155435,483140
1,2021-03-01T09:30:00+01:00,2,Kärnten,29225,683,27316,96,15,675557,217933,457624
2,2021-03-01T09:30:00+01:00,3,Niederösterreich,74538,1350,67900,349,82,3400756,1141984,2258772
3,2021-03-01T09:30:00+01:00,4,Oberösterreich,86409,1515,82567,120,20,2162517,546777,1615740
4,2021-03-01T09:30:00+01:00,5,Salzburg,37327,493,35318,71,15,823353,274598,548755